<div class="dashboard">
  <header class="dashboard-header text-center">
    <h2>Tasks Dashboard
      <app-helptext
        description="You can drag and drop tasks between columns to update their status. You can also click on tasks to see their details."
      ></app-helptext>
    </h2>
    <app-quote></app-quote>
    <button class="btn btn-primary mt-3 tododue-btn" (click)="openTaskForm()">Create Task</button>
  </header>
  <div class="row">
    <div class="col-md-4">
      <h3>To Do ({{ todoTasks.length }})</h3>
      <p>Estimate effort : {{ calculateEstimate("TODO") }}</p>
      <div
        class="task-column"
        id="todoColumn"
        (dragover)="onDragOver($event)"
        (drop)="onDrop($event, 'TODO')"
      >
        <app-task-card
          *ngFor="let task of todoTasks"
          [task]="task"
          (deleteTask)="deleteTask(task)"
          (viewDetails)="openTaskDetails($event)"
          draggable="true"
          (dragstart)="onDragStart($event, task)"
        ></app-task-card>
      </div>
    </div>
    <div class="col-md-4">
      <h3>In Progress ({{ inProgressTasks.length }})</h3>
      <p>Estimate effort : {{ calculateEstimate("In Progress") }}</p>
      <div
        class="task-column"
        id="inProgressColumn"
        (dragover)="onDragOver($event)"
        (drop)="onDrop($event, 'In Progress')"
      >
        <app-task-card
          *ngFor="let task of inProgressTasks"
          [task]="task"
          (deleteTask)="deleteTask(task)"
          (viewDetails)="openTaskDetails($event)"
          draggable="true"
          (dragstart)="onDragStart($event, task)"
        ></app-task-card>
      </div>
    </div>
    <div class="col-md-4">
      <h3>Done ({{ doneTasks.length }})</h3>
      <p>Estimate effort : {{ calculateEstimate("Done") }}</p>
      <div
        class="task-column"
        id="doneColumn"
        (dragover)="onDragOver($event)"
        (drop)="onDrop($event, 'Done')"
      >
        <app-task-card
          *ngFor="let task of doneTasks"
          [task]="task"
          (deleteTask)="deleteTask(task)"
          (viewDetails)="openTaskDetails($event)"
          draggable="true"
          (dragstart)="onDragStart($event, task)"
        ></app-task-card>
      </div>
    </div>
  </div>

  <app-color-legend></app-color-legend>

  <app-tasks-leaderboard
    [todoTasks]="todoTasks"
    [inProgressTasks]="inProgressTasks"
    [doneTasks]="doneTasks"
  ></app-tasks-leaderboard>

  <app-calendar-view
    [tasks]="getAllTasks()"
  ></app-calendar-view>

  <!-- Task Form Modal -->
  <div class="modal" tabindex="-1" [class.show]="isTaskFormOpen" [style.display]="isTaskFormOpen ? 'block' : 'none'">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create New Task</h5>
          <button type="button" class="btn-close" (click)="closeTaskForm()"></button>
        </div>
        <div class="modal-body">
          <app-task-form (taskCreated)="addTaskToTodoColumn($event)"></app-task-form>
        </div>
      </div>
    </div>
  </div>

  <app-task-details
    *ngIf="selectedTask"
    [task]="selectedTask"
    (closeDetails)="closeTaskDetails()"
    (taskUpdated)="updateTask($event)"
  ></app-task-details>
</div>
