<div class="d-flex justify-content-center align-items-center mt-5 mb-3">
    <button class="btn btn-primary mx-3 tododue-btn" (click)="showPriorities()">Priorities view</button>
    <button class="btn btn-primary mx-3 tododue-btn" (click)="showCalendar()">Calendar view</button>
</div>

<app-tasks-leaderboard
*ngIf="currentView === 'Priorities'"
[todoTasks]="todoTasks"
[inProgressTasks]="inProgressTasks"
[doneTasks]="doneTasks"
></app-tasks-leaderboard>

<app-calendar-view
*ngIf="currentView === 'Calendar'"
[tasks]="getAllTasks()"
></app-calendar-view>
