.color-legend
  margin-bottom: 20px

  h5
    margin-bottom: 10px
    font-size: 1.2rem
    color: #ffffff

  .color-box
    width: 20px
    height: 20px
    display: inline-block
    border-radius: 3px

  .me-2
    margin-right: 10px

  .mb-2
    margin-bottom: 10px
