<div class="color-legend mb-4 d-flex justify-content-center align-items-center flex-wrap">
    <div class="d-flex align-items-center me-4 mb-2">
      <span class="color-box me-2" [style.background-color]="getLegendColor('MORE_THAN_7_DAYS')"></span>
      <span>Deadline is in more than a week</span>
    </div>
    <div class="d-flex align-items-center me-4 mb-2">
      <span class="color-box me-2" [style.background-color]="getLegendColor('BETWEEN_4_AND_7_DAYS')"></span>
      <span>Deadline is in 4 to 7 days</span>
    </div>
    <div class="d-flex align-items-center me-4 mb-2">
      <span class="color-box me-2" [style.background-color]="getLegendColor('BETWEEN_2_AND_3_DAYS')"></span>
      <span>Deadline is in 2 to 3 days</span>
    </div>
    <div class="d-flex align-items-center me-4 mb-2">
      <span class="color-box me-2" [style.background-color]="getLegendColor('LESS_THAN_24_HOURS')"></span>
      <span>Deadline is in less than 24 hours</span>
    </div>
    <div class="d-flex align-items-center mb-2">
      <span class="color-box me-2" [style.background-color]="getLegendColor('PAST_DUE')"></span>
      <span>Task is overdue</span>
    </div>
</div>
